# LAB 2

## Goal

* Given the features in the dataset, what is the best combination to have a new indeterminate contract before covid?
* Is the combination of features the same after the covid?


In this lab, the goal will be to prepare data and then apply it to the model.

### Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from sklearn.preprocessing import LabelEncoder

### Functions

In [2]:
def Import_And_Clean_Ateco():
    
    # Lettura Dataset contenente i codici ateco
    df_ateco = pd.read_csv("ateco.csv")

    # Rimozione del codice ateco dalla descrizione Ateco
    for Index in range(len(df_ateco["Codice_ateco"])):
        df_ateco["Descrizione_ateco"][Index] = df_ateco["Descrizione_ateco"][Index][len(df_ateco["Codice_ateco"][Index])+2:len(df_ateco["Descrizione_ateco"][Index])]
    
        # Rimozione dello spazio iniziale
        df_ateco["Descrizione_ateco"][Index] = df_ateco["Descrizione_ateco"][Index].strip()
    
    # Drop della colonna id perchè non serve
    df_ateco = df_ateco.drop("_id",axis=1)
    
    # Rinominazione della colonna della descrizione per fare successivamente il join
    df_ateco.rename(columns = {"Descrizione_ateco":"SETTOREECONOMICODETTAGLIO"}, inplace = True)
    
    # Lower case di tutta la colonna del settore economico per fare la join con gli altri dataset
    df_ateco["SETTOREECONOMICODETTAGLIO"] = df_ateco["SETTOREECONOMICODETTAGLIO"].str.lower()
    
    # Rimozione dei codici duplicati (dataset corrotto?)
    df_ateco.drop_duplicates(subset="SETTOREECONOMICODETTAGLIO",keep="first",inplace=True)
    
    return df_ateco

### Import data and analysis

In [3]:
attivati = pd.read_csv("Rapporti_di_lavoro_attivati.csv")

In [4]:
ateco = Import_And_Clean_Ateco()

/var/folders/yd/g365x5x52q1g5t36bw5cx0bh0000gn/T/ipykernel_3520/2304811658.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ateco["Descrizione_ateco"][Index] = df_ateco["Descrizione_ateco"][Index][len(df_ateco["Codice_ateco"][Index])+2:len(df_ateco["Descrizione_ateco"][Index])]
/var/folders/yd/g365x5x52q1g5t36bw5cx0bh0000gn/T/ipykernel_3520/2304811658.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ateco["Descrizione_ateco"][Index] = df_ateco["Descrizione_ateco"][Index].strip()

In [5]:
#Transformations of the strings in upper case, to make join
attivati['SETTOREECONOMICODETTAGLIO'] = attivati['SETTOREECONOMICODETTAGLIO'].str.upper()
ateco['SETTOREECONOMICODETTAGLIO'] = ateco['SETTOREECONOMICODETTAGLIO'].str.upper()

In [6]:
#Retrieve only the year from the date 
attivati['DATA'] = pd.to_datetime(attivati['DATA'])
attivati ['ANNO'] = attivati.DATA.dt.year
attivati = attivati.drop(labels='DATA', axis=1)

In [7]:
#Join between the two DataFrames
join = pd.merge(attivati, ateco, on =['SETTOREECONOMICODETTAGLIO'], how='inner')
join

,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,ANNO,Codice_ateco
0,F,60,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,BERGAMO,UCRAINA,2020,97
1,F,33,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,BERGAMO,HONDURAS,2012,97
2,F,45,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,BERGAMO,ITALIA,2019,97
3,F,61,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,LECCO,UCRAINA,2014,97
4,F,20,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PARZIALE ORIZZONTALE,LECCO,ITALIA,2014,97
...,...,...,...,...,...,...,...,...,...,...
9363696,M,38,TRASPORTO MEDIANTE CONDOTTE DI LIQUIDI,LICENZA MEDIA,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,MILANO,ITALIA,2020,49.50.2
9363697,F,40,RICARICA DI BOMBOLE PER ATTIVITÀ SUBACQUEE,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,COLLABORAZIONE COORDINATA E CONTINUATIVA,NON DEFINITO,BRESCIA,ITALIA,2021,93.19.91
9363698,M,28,RICARICA DI BOMBOLE PER ATTIVITÀ SUBACQUEE,LICENZA MEDIA,LAVORO INTERINALE (O A SCOPO DI SOMMINISTRAZIO...,NaN,MONZA E BRIANZA,ITALIA,2012,93.19.91
9363699,F,25,RICARICA DI BOMBOLE PER ATTIVITÀ SUBACQUEE,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,COLLABORAZIONE COORDINATA E CONTINUATIVA,NON DEFINITO,BRESCIA,ITALIA,2018,93.19.91
9363700,M,24,AGENTI E RAPPRESENTANTI DI GIOCATTOLI,DIPLOMA UNIVERSITARIO,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,COMO,ITALIA,2015,46.18.95

In [8]:
#Obtain only the first two digits of the 'codice ateco' to understand the macro category
join.Codice_ateco.replace(r'^(..)\..*' , r'\1',regex=True, inplace = True,)
join

,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,ANNO,Codice_ateco
0,F,60,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,BERGAMO,UCRAINA,2020,97
1,F,33,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,BERGAMO,HONDURAS,2012,97
2,F,45,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,BERGAMO,ITALIA,2019,97
3,F,61,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,LECCO,UCRAINA,2014,97
4,F,20,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PARZIALE ORIZZONTALE,LECCO,ITALIA,2014,97
...,...,...,...,...,...,...,...,...,...,...
9363696,M,38,TRASPORTO MEDIANTE CONDOTTE DI LIQUIDI,LICENZA MEDIA,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,MILANO,ITALIA,2020,49
9363697,F,40,RICARICA DI BOMBOLE PER ATTIVITÀ SUBACQUEE,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,COLLABORAZIONE COORDINATA E CONTINUATIVA,NON DEFINITO,BRESCIA,ITALIA,2021,93
9363698,M,28,RICARICA DI BOMBOLE PER ATTIVITÀ SUBACQUEE,LICENZA MEDIA,LAVORO INTERINALE (O A SCOPO DI SOMMINISTRAZIO...,NaN,MONZA E BRIANZA,ITALIA,2012,93
9363699,F,25,RICARICA DI BOMBOLE PER ATTIVITÀ SUBACQUEE,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,COLLABORAZIONE COORDINATA E CONTINUATIVA,NON DEFINITO,BRESCIA,ITALIA,2018,93
9363700,M,24,AGENTI E RAPPRESENTANTI DI GIOCATTOLI,DIPLOMA UNIVERSITARIO,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,COMO,ITALIA,2015,46

In [9]:
join2 = pd.merge(join, ateco, on='Codice_ateco', how='inner')
join2

,GENERE,ETA,SETTOREECONOMICODETTAGLIO_x,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,ANNO,Codice_ateco,SETTOREECONOMICODETTAGLIO_y
0,F,60,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,BERGAMO,UCRAINA,2020,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...
1,F,33,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,BERGAMO,HONDURAS,2012,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...
2,F,45,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,BERGAMO,ITALIA,2019,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...
3,F,61,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,LECCO,UCRAINA,2014,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...
4,F,20,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PARZIALE ORIZZONTALE,LECCO,ITALIA,2014,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...
...,...,...,...,...,...,...,...,...,...,...,...
9363696,M,36,INDUSTRIA DEL TABACCO,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO INTERINALE (O A SCOPO DI SOMMINISTRAZIO...,NaN,BERGAMO,ITALIA,2012,12,INDUSTRIA DEL TABACCO
9363697,M,35,INDUSTRIA DEL TABACCO,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BRESCIA,ITALIA,2011,12,INDUSTRIA DEL TABACCO
9363698,M,27,INDUSTRIA DEL TABACCO,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,MILANO,ITALIA,2009,12,INDUSTRIA DEL TABACCO
9363699,M,37,INDUSTRIA DEL TABACCO,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO INTERINALE (O A SCOPO DI SOMMINISTRAZIO...,NaN,BERGAMO,ITALIA,2012,12,INDUSTRIA DEL TABACCO
9363700,M,36,INDUSTRIA DEL TABACCO,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO INTERINALE (O A SCOPO DI SOMMINISTRAZIO...,NaN,BERGAMO,ITALIA,2012,12,INDUSTRIA DEL TABACCO

In [10]:
join2 = join2.drop(labels='SETTOREECONOMICODETTAGLIO_x', axis=1)

In [11]:
#Transformations of the strings in upper case, to make a match, without problem
join2['CONTRATTO']=join2['CONTRATTO'].str.upper()
join2

,GENERE,ETA,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,ANNO,Codice_ateco,SETTOREECONOMICODETTAGLIO_y
0,F,60,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,BERGAMO,UCRAINA,2020,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...
1,F,33,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,BERGAMO,HONDURAS,2012,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...
2,F,45,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,BERGAMO,ITALIA,2019,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...
3,F,61,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,LECCO,UCRAINA,2014,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...
4,F,20,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PARZIALE ORIZZONTALE,LECCO,ITALIA,2014,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...
...,...,...,...,...,...,...,...,...,...,...
9363696,M,36,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO INTERINALE (O A SCOPO DI SOMMINISTRAZIO...,NaN,BERGAMO,ITALIA,2012,12,INDUSTRIA DEL TABACCO
9363697,M,35,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BRESCIA,ITALIA,2011,12,INDUSTRIA DEL TABACCO
9363698,M,27,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,MILANO,ITALIA,2009,12,INDUSTRIA DEL TABACCO
9363699,M,37,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO INTERINALE (O A SCOPO DI SOMMINISTRAZIO...,NaN,BERGAMO,ITALIA,2012,12,INDUSTRIA DEL TABACCO
9363700,M,36,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO INTERINALE (O A SCOPO DI SOMMINISTRAZIO...,NaN,BERGAMO,ITALIA,2012,12,INDUSTRIA DEL TABACCO

In [12]:
#Select only the indeterminate contracts
indeterminato = join2[join2['CONTRATTO'].str.match(r'.*INDETERMINATO.*')== True].reset_index()
indeterminato=indeterminato.drop(labels=['index', 'CONTRATTO'], axis=1)
indeterminato

,GENERE,ETA,TITOLOSTUDIO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,ANNO,Codice_ateco,SETTOREECONOMICODETTAGLIO_y
0,F,31,NESSUN TITOLO DI STUDIO,TEMPO PARZIALE ORIZZONTALE,LECCO,SENEGAL,2010,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...
1,M,46,NESSUN TITOLO DI STUDIO,TEMPO PARZIALE ORIZZONTALE,LECCO,BOLIVIA,2010,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...
2,F,35,NESSUN TITOLO DI STUDIO,TEMPO PARZIALE ORIZZONTALE,LECCO,ECUADOR,2010,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...
3,F,66,NESSUN TITOLO DI STUDIO,TEMPO PARZIALE ORIZZONTALE,LECCO,FILIPPINE,2008,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...
4,M,45,NESSUN TITOLO DI STUDIO,TEMPO PARZIALE ORIZZONTALE,LECCO,FILIPPINE,2010,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...
...,...,...,...,...,...,...,...,...,...
1359505,F,26,LAUREA - Vecchio o nuovo ordinamento,TEMPO PIENO,BERGAMO,ITALIA,2019,06,ESTRAZIONE DI PETROLIO GREGGIO E DI GAS NATURALE
1359506,F,28,LAUREA - Vecchio o nuovo ordinamento,TEMPO PIENO,MILANO,ITALIA,2014,06,ESTRAZIONE DI PETROLIO GREGGIO E DI GAS NATURALE
1359507,M,33,LICENZA MEDIA,TEMPO PIENO,MILANO,ITALIA,2009,06,ESTRAZIONE DI PETROLIO GREGGIO E DI GAS NATURALE
1359508,M,34,LAUREA - Vecchio o nuovo ordinamento,TEMPO PIENO,MILANO,ITALIA,2021,06,ESTRAZIONE DI PETROLIO GREGGIO E DI GAS NATURALE
1359509,M,34,TITOLO DI ISTRUZIONE SECONDARIA SUPERIORE (SCO...,TEMPO PIENO,MILANO,ITALIA,2011,06,ESTRAZIONE DI PETROLIO GREGGIO E DI GAS NATURALE

### Label Encoder

In [13]:
titolostudio = indeterminato.TITOLOSTUDIO.tolist()
modlavoro = indeterminato.MODALITALAVORO.tolist()
prov = indeterminato.PROVINCIAIMPRESA.tolist()
nazionalita = indeterminato.ITALIANO.tolist()
copia = indeterminato.copy()

In [14]:
# instantiate labelencoder object for each column that we want to encode
le_titolostudio = LabelEncoder()
le_modlavoro = LabelEncoder()
le_prov = LabelEncoder()
le_nazionalita = LabelEncoder()

In [15]:
#apply the label encoder to the dataset
le_titolostudio.fit(copia['TITOLOSTUDIO'])
le_modlavoro.fit(copia['MODALITALAVORO'])
le_prov.fit(copia['PROVINCIAIMPRESA'])
le_nazionalita.fit(copia['ITALIANO'])

LabelEncoder()

In [16]:
#transform into integers
transformation_ts = le_titolostudio.transform(indeterminato['TITOLOSTUDIO']) 
transformation_ts

array([ 8,  8,  8, ...,  6,  4, 10])

In [17]:
# try to invert a transformation using the object
list(le_titolostudio.inverse_transform([8]))

['NESSUN TITOLO DI STUDIO']

In [18]:
#transform into integers
transformation_ml = le_modlavoro.transform(indeterminato['MODALITALAVORO']) 
transformation_prov = le_prov.transform(indeterminato['PROVINCIAIMPRESA']) 
transformation_nazion = le_nazionalita.transform(indeterminato['ITALIANO'])

In [19]:
# apply label encoder on categorical feature columns
copia['titolostudio_transformed'] = list(transformation_ts)
copia['modalitalavoro_transformed'] = list(transformation_ml)
copia['provincia_transformed'] = list(transformation_prov)
copia['nazionalita_transformed'] = list(transformation_nazion)
copia

,GENERE,ETA,TITOLOSTUDIO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,ANNO,Codice_ateco,SETTOREECONOMICODETTAGLIO_y,titolostudio_transformed,modalitalavoro_transformed,provincia_transformed,nazionalita_transformed
0,F,31,NESSUN TITOLO DI STUDIO,TEMPO PARZIALE ORIZZONTALE,LECCO,SENEGAL,2010,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,8,2,4,141
1,M,46,NESSUN TITOLO DI STUDIO,TEMPO PARZIALE ORIZZONTALE,LECCO,BOLIVIA,2010,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,8,2,4,21
2,F,35,NESSUN TITOLO DI STUDIO,TEMPO PARZIALE ORIZZONTALE,LECCO,ECUADOR,2010,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,8,2,4,50
3,F,66,NESSUN TITOLO DI STUDIO,TEMPO PARZIALE ORIZZONTALE,LECCO,FILIPPINE,2008,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,8,2,4,58
4,M,45,NESSUN TITOLO DI STUDIO,TEMPO PARZIALE ORIZZONTALE,LECCO,FILIPPINE,2010,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,8,2,4,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1359505,F,26,LAUREA - Vecchio o nuovo ordinamento,TEMPO PIENO,BERGAMO,ITALIA,2019,06,ESTRAZIONE DI PETROLIO GREGGIO E DI GAS NATURALE,4,4,0,84
1359506,F,28,LAUREA - Vecchio o nuovo ordinamento,TEMPO PIENO,MILANO,ITALIA,2014,06,ESTRAZIONE DI PETROLIO GREGGIO E DI GAS NATURALE,4,4,7,84
1359507,M,33,LICENZA MEDIA,TEMPO PIENO,MILANO,ITALIA,2009,06,ESTRAZIONE DI PETROLIO GREGGIO E DI GAS NATURALE,6,4,7,84
1359508,M,34,LAUREA - Vecchio o nuovo ordinamento,TEMPO PIENO,MILANO,ITALIA,2021,06,ESTRAZIONE DI PETROLIO GREGGIO E DI GAS NATURALE,4,4,7,84
1359509,M,34,TITOLO DI ISTRUZIONE SECONDARIA SUPERIORE (SCO...,TEMPO PIENO,MILANO,ITALIA,2011,06,ESTRAZIONE DI PETROLIO GREGGIO E DI GAS NATURALE,10,4,7,84

### Encoding Manually Ordinal Categorical Features

In [20]:
# Create mapper
scale_mapper = {'M':0, 'F':1}

# Map feature values to scale
copia['genere_transformed'] = copia['GENERE'].replace(scale_mapper)
copia

,GENERE,ETA,TITOLOSTUDIO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,ANNO,Codice_ateco,SETTOREECONOMICODETTAGLIO_y,titolostudio_transformed,modalitalavoro_transformed,provincia_transformed,nazionalita_transformed,genere_transformed
0,F,31,NESSUN TITOLO DI STUDIO,TEMPO PARZIALE ORIZZONTALE,LECCO,SENEGAL,2010,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,8,2,4,141,1
1,M,46,NESSUN TITOLO DI STUDIO,TEMPO PARZIALE ORIZZONTALE,LECCO,BOLIVIA,2010,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,8,2,4,21,0
2,F,35,NESSUN TITOLO DI STUDIO,TEMPO PARZIALE ORIZZONTALE,LECCO,ECUADOR,2010,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,8,2,4,50,1
3,F,66,NESSUN TITOLO DI STUDIO,TEMPO PARZIALE ORIZZONTALE,LECCO,FILIPPINE,2008,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,8,2,4,58,1
4,M,45,NESSUN TITOLO DI STUDIO,TEMPO PARZIALE ORIZZONTALE,LECCO,FILIPPINE,2010,97,ATTIVITÀ DI FAMIGLIE E CONVIVENZE COME DATORI ...,8,2,4,58,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1359505,F,26,LAUREA - Vecchio o nuovo ordinamento,TEMPO PIENO,BERGAMO,ITALIA,2019,06,ESTRAZIONE DI PETROLIO GREGGIO E DI GAS NATURALE,4,4,0,84,1
1359506,F,28,LAUREA - Vecchio o nuovo ordinamento,TEMPO PIENO,MILANO,ITALIA,2014,06,ESTRAZIONE DI PETROLIO GREGGIO E DI GAS NATURALE,4,4,7,84,1
1359507,M,33,LICENZA MEDIA,TEMPO PIENO,MILANO,ITALIA,2009,06,ESTRAZIONE DI PETROLIO GREGGIO E DI GAS NATURALE,6,4,7,84,0
1359508,M,34,LAUREA - Vecchio o nuovo ordinamento,TEMPO PIENO,MILANO,ITALIA,2021,06,ESTRAZIONE DI PETROLIO GREGGIO E DI GAS NATURALE,4,4,7,84,0
1359509,M,34,TITOLO DI ISTRUZIONE SECONDARIA SUPERIORE (SCO...,TEMPO PIENO,MILANO,ITALIA,2011,06,ESTRAZIONE DI PETROLIO GREGGIO E DI GAS NATURALE,10,4,7,84,0

In [24]:
# Drop the columns that have been transformed
transformed_indet = copia.drop(labels =['GENERE', 'TITOLOSTUDIO', 'MODALITALAVORO', 'PROVINCIAIMPRESA', 'ITALIANO', 'SETTOREECONOMICODETTAGLIO_y'], axis=1)
transformed_indet

,ETA,ANNO,Codice_ateco,titolostudio_transformed,modalitalavoro_transformed,provincia_transformed,nazionalita_transformed,genere_transformed
0,31,2010,97,8,2,4,141,1
1,46,2010,97,8,2,4,21,0
2,35,2010,97,8,2,4,50,1
3,66,2008,97,8,2,4,58,1
4,45,2010,97,8,2,4,58,0
...,...,...,...,...,...,...,...,...
1359505,26,2019,06,4,4,0,84,1
1359506,28,2014,06,4,4,7,84,1
1359507,33,2009,06,6,4,7,84,0
1359508,34,2021,06,4,4,7,84,0
1359509,34,2011,06,10,4,7,84,0

In [33]:
transformed_indet['Codice_ateco'] = transformed_indet['Codice_ateco'].astype(str).astype(int)
transformed_indet.dtypes

ETA                           int64
ANNO                          int64
Codice_ateco                  int64
titolostudio_transformed      int64
modalitalavoro_transformed    int64
provincia_transformed         int64
nazionalita_transformed       int64
genere_transformed            int64
dtype: object

In [34]:
transformed_indet

,ETA,ANNO,Codice_ateco,titolostudio_transformed,modalitalavoro_transformed,provincia_transformed,nazionalita_transformed,genere_transformed
0,31,2010,97,8,2,4,141,1
1,46,2010,97,8,2,4,21,0
2,35,2010,97,8,2,4,50,1
3,66,2008,97,8,2,4,58,1
4,45,2010,97,8,2,4,58,0
...,...,...,...,...,...,...,...,...
1359505,26,2019,6,4,4,0,84,1
1359506,28,2014,6,4,4,7,84,1
1359507,33,2009,6,6,4,7,84,0
1359508,34,2021,6,4,4,7,84,0
1359509,34,2011,6,10,4,7,84,0

### Test normal distribution of the data SARA

Da file Transformations Gaussian.. con uno dei due metodi

### Outliers SARA

da time series

### Stationarity SARA

da time series

### Descriptive Analysis MICHELA

da dataframe indeterminati capire qualche caratteristica, come media, probabilità...

### Group by features given as input MICHELA

clustering a seconda di alcune caratteristiche e vedere che cosa hanno in comune
genere + età + nazionalità 
t-SNE reductions